.about {
    padding: 40px 20px;
    & > h2 {
        font-size: 40px;
        font-family: "Roboto", system-ui;
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    & > .about_description {
        font-size: 20px;
        font-family: "Roboto", system-ui;
        font-weight: 100 !important;
        font-style: normal;
        margin-bottom: 32px;
        & > .key_text {
            font-weight: 700;
        }
        & > .value_text {
            font-weight: 300;
        }
    }
}