.about {
    padding: 40px 20px;
    & > div> h2 {
        font-size: 40px;
        font-family: "Roboto", system-ui;
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    & > div> p {
        font-size: 20px;
        font-family: "Roboto", system-ui;
        font-weight: 300 !important;
        font-style: normal;
        margin-bottom: 32px;
    }
}

.about_Desktop {
    padding: 40px 120px;
    display: flex;
    align-items: center;
    & > .about_img_card {
        width: 50%;
        margin-right: 40px;
    }
    & > .about_description {
        width: 50%;
    }
    & > div> h2 {
        font-size: 40px;
        font-family: "Roboto", system-ui;
        font-weight: 400;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    & > div> p {
        font-size: 20px;
        font-family: "Roboto", system-ui;
        font-weight: 300!important;
        font-style: normal;
        margin-bottom: 32px;
    }
}