.demo_page {
    background: linear-gradient(to bottom, #818181a4, #8181817c), url("@/assets/Light+Objects+2.png");
    margin:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.book_demo {
    height: 60vh;
    background-size: cover;

    &:hover {
        transform: scale(1.05);
    }
    & > h4 {
        color: white;
        font-size: 40px;
        font-weight: 600;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    & > .book_button {
        width: 100% !important;
        padding-inline: 20px;
        margin-top: 20px !important;
    }
}
.book_demo_desktop {
 height: 100vh;
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
 align-items: center;
 & > h4 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
& > .book_button {
    padding-inline: 20px;
    margin-top: 20px !important;
}
}