.footer {
    padding: 40px 120px;
    display: flex;
    flex-direction: column;
    & > div > div > .company {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 20px;
    }
    & > .footer_links {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        & > div {
            width: 50%;
            & > h4 {
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                margin-bottom: 10px;
            }
        }
        a { 
            color: #333;
            text-decoration: none;
            margin-right: 20px;
        }
    }
    & > .newsletter {
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
}

.footer-container {
    display: flex;
    &  > .company_container {
        width: 45%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    & > .link_container {
        width: 50%;
        & > .footer_links {
            display: flex;
            margin-bottom: 20px;
            & > .link_holder {
                width: 50%;
                & > h4 {
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal;
                    margin-bottom: 10px;
                }
                & > div {
                    cursor: pointer;
                }
            }
            & > .social_holder {
                width: 50%;
                margin-left: 20px;
                & > h4 {
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal;
                    margin-bottom: 10px;
                }
                a { 
                    color: #333;
                    text-decoration: none;
                    margin-right: 20px;
                }
            }
        }
    }
}

.newsletter {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    width: 64%;
}