.footer {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    & > .company {
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 20px;
    }
    & > .footer_links {
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        & > div {
            width: 50%;
            & > h4 {
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                margin-bottom: 10px;
            }
        }
        a { 
            color: #333;
            text-decoration: none;
            margin-right: 20px;
        }
    }
    & > .newsletter {
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
}