.mobile-view-nav {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & > ul {
        & > li {
            list-style: none;
            width: 250px;
            text-align: center;
            & > a {
                color: #333333;
                font-size: 30px;
                font-weight: 400;
                font-style: normal;
                margin-bottom: 10px;
                text-decoration: none;
            }
        }
    }
    .button-position {
        position: absolute;
        bottom: 0;
        right: 20%;
    }
}
.big-screen-view {
    display: flex;
    align-items: center;
    & > a {
        color: #333333;
        text-decoration: none;
        font-size: 16px;
        display: block;
        margin-inline: 40px;
    }
  }